.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.login-container2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.login-container3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.login-container4{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.login-container4 a{
    text-decoration: none;
    color: #77021D;
    font-weight: bolder;
}
.login-container5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.login-title{
    color: #77021D;
    font-size: 22px;
    font-weight: bold;
}