.container{
    background-color: #000;
    height: 90vh;
    display: flex;
    
}

.container-file{
    background-color: #fff;
    height: 90vh;
    width: 50%;
    margin: auto;
    margin-left: 30px;
    
}