
.dialogue{
    min-width: 300px;
    padding: 30px;
    border-radius: 8px;
    color: #fff;
    background-color: #000;
    border: none;
    height: 40vh;
    position: absolute;
    left: 34%;
    top: 30%;
}

.dialogue h1{
    font-size: 22px;
    font-weight: bolder;
    margin-top: 10px;
}

.open{
    padding: 5px 8px;
    width: 25%;
    text-align: left;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}