.container-sideleft{
    background-color: #000;
    width: 18%;
    height: 90vh;
}

.title{
    background-color: #000;
    text-align: center;
    color: #fff;
    border: 1px solid #fff;
    padding: 8px;
    font-size: 10px;
}