.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 10%;
}

.linkApp{
    text-decoration: none;
    background-color: #77021D;
    color: #fff;
    padding: 8px 20px 8px 20px;
    border-radius: 6px;
}

.titleApp{
    color: #77021D;
}