.container-file222{
    background-color: #fff;
    height: 90vh;
    width: 50%;
    margin: auto;
    margin-left: 30px;
    
}

.file-small{
    background-color: #00000075;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.file-small img{
cursor: pointer;
}

.group-flex{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #77021D;
    color: #fff;
    padding: 10px;
    
}
.group-flex img{
    aspect-ratio: 1/1;
    border-radius: 30px;
    width: 50px;   
}
